pandas
numpy
pdfplumber
pytesseract
tika
sentence-transformers
faiss-cpu
streamlit
plotly
matplotlib
scikit-learn
openpyxl
Pillow
regex
streamlit
pandas
numpy
plotly
crewai
langchain_community
ollama
pydantic
pdfplumber
tika
pytesseract
faiss-cpu
sentence-transformers
torch
transformers
argparse
pytesseract
fitz
pymupdf